---
import type { GetStaticPaths, Page } from "astro";
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import HorizontalCard from "../../../../components/HorizontalCard.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import createSlug from "../../../../lib/createSlug";
import { SITE_URL } from "../../../../config"; // Import SITE_URL

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const all_posts = await getCollection("blog");
  const all_tags_with_duplicates = all_posts.flatMap((post) => {
    return post.data.tags || [];
  });
  const all_tags = [...new Set(all_tags_with_duplicates)];

  return all_tags.flatMap((tag) => {
    const filtered_posts = all_posts.filter((post) => {
      return post.data.tags?.includes(tag);
    });
    return paginate(filtered_posts, {
      params: { tag },
      pageSize: 10,
    });
  });
};

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props as Props;
const params = Astro.params;
const currentTag = params.tag; // Get the current tag
const canonicalURL = `${SITE_URL}/blog/tag/${currentTag}`; // Construct canonical URL
---

<BaseLayout title={"Blog - " + params.tag} tags={[currentTag]} canonicalURL={canonicalURL}>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Blog - {params.tag}</div>
  </div>
  {
    page.data.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">Sorry!</p>
        <p>There are no blog posts to show at the moment. Check back later!</p>
      </div>
    ) : (
      <ul>
        {page.data.map((post) => (
          <>
            <HorizontalCard
              title={post.data.title}
              img={post.data.heroImage}
              desc={post.data.description}
              url={"/blog/" + createSlug(post.data.title, post.slug)}
              target="_self"
              badge={post.data.badge}
              tags={post.data.tags}
            />
            <div class="divider my-0" />
          </>
        ))}
      </ul>
    )
  }

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          {" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L8.59,16.58Z" />
          </svg>{" "}
          Recent posts
        </a>
      ) : (
        <div />
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Older Posts{" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            {" "}
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      ) : (
        <div />
      )
    }
  </div>
</BaseLayout>